$primary: #1976d2;
$accent: #8e24aa;
$warn: #ff0000;

$dark-background: #2b2a33;
$light-background: #e7ecee;

$dark-theme: (
	primary: $primary,
	accent: $accent,
	warn: $warn,
	is-dark: true,
	foreground: white,
	background: $dark-background,
);

$light-theme: (
	primary: $primary,
	accent: $accent,
	warn: $warn,
	is-dark: false,
	foreground: black,
	background: $light-background,
);
