@use 'src/styles/debug' as *;
@mixin theme($theme: null) {
	$bgc: map-get($theme, background);
	$fgc: map-get($theme, foreground);

	// @include debug-append('- Navbar.modules.scss');

	.Navbar {
		display: flex;
		flex-flow: row nowrap;
		width: 100%;
		height: 55px;
		background: darken($bgc, 8%);
		color: $fgc;
	}
}
