@use 'src/styles/debug' as *;
@mixin theme($theme: null) {
	$bgc: map-get($theme, background);
	$fgc: map-get($theme, foreground);

	// @include debug-append('- Shell.modules.scss');

	.Shell {
		width: 100%;
		height: 100%;
		background: $bgc;
		color: $fgc;
	}
}
